<footer>
    <div class="container">
        <ul>
            <li>Copyright &copy; 2016-2020 Pietro Albini.</li>
            <li><a href="https://github.com/pietroalbini/website">
                Source code
            </a></li>
            <li><a href="{{ '/blog/atom.xml' | relative_url }}">Atom feed</a></li>
        </ul>
        <ul>
            <li>
                Contents under the
                <a href="https://creativecommons.org/licenses/by/4.0/">
                    Creative Commons Attribution 4.0</a>
                license.
            </li>
            <li>VAT ID: IT 04468710407</li>
        </ul>
    </div>
</footer>
