body {
    color: #222;
    font-family: "Bitter", serif;
    line-height: 1.5em;
    margin: 0;
}

p {
    text-align: justify;
}

ul {
    padding-left: 1.25em;
}

ul li {
    list-style: square;
    margin: 0.3em 0;
}

a {
    text-decoration: none;
    color: hsl(214, 100%, 50%);
}

a:hover {
    text-decoration: underline;
}

h3, h4, h5, h6 {
    margin: 1.7em 0 0.4em 0;
}

img {
    margin: 1em 0;
    border-radius: 0.2em;
    width: 100%;
}

code {
    display: inline-block;
    padding: 0.1em 0.4em;
    font-size: 1.1em;

    border-radius: 0.2em;
    background: #eee;
}

pre {
    border-radius: 0.5em;
    background: #eee;
}

pre code {
    box-sizing: border-box;
    display: block;
    padding: 0.8em 1.4em;

    font-size: 1.1em;
    line-height: 1.7em;

    width: 100%;
    overflow-x: auto;
}

header {
    color: hsl(214, 50%, 20%);
    padding: 1em 0;
    margin-bottom: 1.5em;
    background: hsl(214, 30%, 97%);
}

header > div.container {
    display: flex;
}

header div#title {
    font-weight: 700;
    flex: 1;
    font-size: 1.3em;
}

header nav ul {
    flex: 1;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin: 0;
    padding: 0 0 0 1em;
}

header nav ul li a {
    text-decoration: none;
}

header nav ul li a.active {
    color: hsl(214, 50%, 20%);
    text-decoration: none;
}

div.container {
    max-width: 45em;
    margin: auto;
    padding: 0 1em;
}

div.pagination {
    text-align: center;
    margin: 2em 0;
}

div.pagination span {
    display: inline-block;
    margin: 0 0.5em;
}

div.post.preview {
    margin: 1.5em 0;
}

div.post.preview a.continue {
    display: block;
    text-align: center;
}

div.post h2 {
    line-height: 1.5em;
    margin: 0.8em 0 0.3em 0;
    text-align: center;
}

div.post div.meta {
    margin-top: -0.3em;
    font-style: italic;
    text-align: center;
}

footer {
    border-top: 0.1em solid hsl(214, 50%, 95%);
    padding-top: 1.5em;
    text-align: center;
    margin: 2em 0;
    font-size: 0.9em;
    color: hsl(214, 50%, 60%);
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    margin: 0.1em 0.5em;
    display: inline-block;
}

footer a {
    color: hsl(214, 50%, 30%);
}

@media all and (max-width: 45em) {
    header > div.container {
        display: block;
        text-align: center;
    }

    header nav ul {
        margin-top: 0.3em;
    }
}
