div.error {
    h2 {
        font-weight: 400;
        font-size: 4em;
        text-align: center;
        line-height: 1.2em;
        margin: 0;
    }

    p {
        font-family: $font-main;
        font-size: 2em;
        line-height: 1.2em;
        color: $color-main-50;
        text-align: center;
        margin: 0;
    }
}
