footer {
    flex: 0;
    padding: 1.5em 0;
    font-size: 0.9em;
    color: $color-main-48;

    ul {
        font-family: $font-main;
        text-align: center;
        margin: 0;
        padding: 0;

        li {
            margin: 0.1em 0.5em;
            display: inline-block;
        }
    }

    a {
        color: $color-main-20;
    }
}
