div.post {
    div.post-meta {
        padding: 0 0 1.5em 0;
        text-align: center;

        h2 {
            margin: 0 0 0.2em 0;
            font-size: 1.7em;
            font-weight: 400;
            line-height: 1.2em;
        }

        p {
            font-family: $font-main;
            color: $color-main-48;
            text-align: center;
            margin: 0;

            a {
                color: $color-main-20;
            }
        }
    }

    .paper {
        background: $color-white;
        padding: 2em;
        border-radius: 0.2em;
        box-shadow: 0 0.2em 0.2em $color-gray-90;

        & > :first-child {
            padding-top: 0px !important;
            margin-top: 0px !important;
        }

        & > :last-child {
            padding-bottom: 0px !important;
            margin-bottom: 0px !important;
        }
    }
}

a.post-list-item {
    display: flex;
    align-items: center;
    margin: 1em 0;
    color: $color-main-20;

    &:hover {
        text-decoration: none;

        div.meta div.title {
            text-decoration: underline;
        }
    }

    div.meta {
        flex: 1;

        div.date {
            color: $color-main-50;
        }

        div.title {
            font-size: 1.5em;
            line-height: 1.1em;
        }
    }

    div.arrow {
        font-size: 2em;
        margin-left: 0.5em;
    }
}
