{% extends "layout.html" %}

{% from "macros.html" import paginate, blog_post %}

{% block title %}Blog{% endblock %}
{% block body %}
    <h2>Blog posts</h2>
    <p>
        Here you can read my thoughts, announcements, tutorials, and more.
        But just the few times I remember to write them down :)
    </p>

    {% for child in this.pagination.items %}
        {{ blog_post(child, preview=true) }}
    {% endfor %}

    {{ paginate(this.pagination) }}

    <p>
        There is also a list of <a href="{{ "/blog/archive" | url }}">all the
        posts I published</a>, if you want to find an old post.
    </p>
{% endblock %}
