{% from "macros.html" import menu_item %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}{% endblock %} - Pietro Albini</title>

        <link rel="stylesheet" href="{{ "/+assets/style.css" | url }}">

        <link rel="alternate" href="{{ "/blog@atom/blog" | url }}"
              title="Pietro Albini's blog" type="application/atom+xml">
    </head>
    <body>
        <header>
            <img src="{{ "/+assets/avatar-small.jpg" | url }}">
            <nav>
                <ul>
                    {{ menu_item(this, "/", "Welcome") }}
                    {{ menu_item(this, "/blog", "Blog") }}
                    {{ menu_item(this, "/projects", "Projects") }}
                    {{ menu_item(this, "/contact", "Contacts") }}
                </ul>
            </nav>
        </header>

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <div class="container">
            <footer>
                <ul>
                    <li>Copyright &copy; 2016 Pietro Albini.</li>
                    <li><a href="https://github.com/pietroalbini/website">
                        Source code
                    </a></li>
                    <li><a href="{{ "/privacy" | url }}">Privacy</a></li>
                    <li><a href="{{ "/blog@atom/blog" | url }}">Atom feed</a></li>
                </ul>
                <ul>
                    <li>
                        Contents under the
                        <a href="https://creativecommons.org/licenses/by/4.0/">
                            Creative Commons Attribution 4.0
                        </a>
                        license.
                    </li>
                </ul>
            </footer>
        </div>
    </body>
</html>
