{% from "macros.html" import menu_item %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{{ page_title }} - Pietro Albini</title>

        <link rel="stylesheet" href="{{ "/+assets/style.css" | asseturl }}">
        <link rel="stylesheet" href="https://assets.pietroalbini.org/fonts/bitter/include.min.css">
        <link rel="stylesheet" href="https://assets.pietroalbini.org/fonts/fira-sans/include.min.css">

        <link rel="shortcut icon" href="{{ "favicon.ico" | asseturl }}">
        <link rel="alternate" href="{{ "/blog@atom/blog" | url }}"
              title="Pietro Albini's blog" type="application/atom+xml">

        {% block extra_header %}{% endblock %}
    </head>
    <body>
        <header class="main-header">
            <div class="container">
                <div id="title">Pietro Albini</div>
                <nav>
                    <ul>
                        {{ menu_item(this, "/", "Home") }}
                        {{ menu_item(this, "/blog", "Blog posts") }}
                        {{ menu_item(this, "/about", "About me") }}
                    </ul>
                </nav>
            </div>
        </header>
        {% if page_subheader_title %}
        <header class="sub-header">
            <div class="container">
                <h1>{{ page_subheader_title }}</h1>
                {% if page_subheader_subtitle %}
                    <p>{{ page_subheader_subtitle }}</p>
                {% endif %}
            </div>
        </header>
        {% endif %}

        <div class="container">

            {% block body %}{% endblock %}

            <footer>
                <ul>
                    <li>Copyright &copy; 2016-2019 Pietro Albini.</li>
                    <li><a href="https://github.com/pietroalbini/website">
                        Source code
                    </a></li>
                    <li><a href="{{ "/blog@atom/blog" | url }}">Atom feed</a></li>
                </ul>
                <ul>
                    <li>
                        Contents under the
                        <a href="https://creativecommons.org/licenses/by/4.0/">
                            Creative Commons Attribution 4.0
                        </a>
                        license.
                    </li>
                    <li>VAT ID: IT 04468710407</li>
                </ul>
            </footer>
        </div>
    </body>
</html>
