{% macro menu_item(this, link, label) %}
    {% if link == "/" %}
        {% set condition = this._path == "/" %}
    {% else %}
        {% set condition = this.is_child_of(link) %}
    {% endif %}
    <li><a href="{{ link | url }}"{% if condition %} class="active"{% endif %}>
        {{ label }}
    </a></li>
{% endmacro %}

{% macro redirect(to) %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="refresh" content="0;URL='{{ to }}'">

        <title>Redirecting...</title>
        <script>
            window.location.href = "{{ to }}";
        </script>
    </head>
    <body>
        <a href="{{ to }}">Redirecting...</a>
    </body>
</html>
{% endmacro %}

{% macro paginate(pagination) %}
    <div class="pagination">
        <span class="prev">
            {% if pagination.has_prev %}
                <a href="{{ pagination.prev | url }}">&laquo; Previous page</a>
            {% else %}
                &laquo; Previous page
            {% endif %}
        </span>
        <span class="current">
            <b>{{ pagination.page }}</b>
        </span>
        <span class="next">
            {% if pagination.has_next %}
                <a href="{{ pagination.next | url }}">Next page &raquo;</a>
            {% else %}
                Next page &raquo;
            {% endif %}
        </span>
    </div>
{% endmacro %}


{% macro blog_post(post, preview=false) %}
    <div class="post {% if preview %}preview{% endif %}">
        <h2>{{ post.title }}</h2>
        <div class="meta">
            Written on {{ post.pub_date | dateformat("long") }}.
        </div>

        {% if preview %}
            {{ post.body | excerpt }}
        {% else %}
            {{ post.body }}
        {% endif %}

        {% if preview %}
            <a class="continue" href="{{ post | url }}">
                Continue reading this post &raquo;
            </a>
        {% endif %}
    </div>
{% endmacro %}


{% macro attachments(page, title = "Attachments") %}
    <div class="attachments">
        <h2>{{ title }}</h2>
        <ul>
            {% for attachment in page.attachments %}
            <li>
                <a href="{{ attachment | url }}">
                    {{ attachment.path.rsplit("/", 1)[1] }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}
