---
layout: empty
---

<div class="index-container">
    <div class="index-centerer">
        <div>
            <div class="id-card">
                <img src="{{ '/assets/avatar-medium.jpg' | absolute_url }}" alt="A picture of me">
                <div class="id-card-details">
                    <h1>Pietro Albini</h1>
                    <div class="role">Rust Infrastructure Team Lead</div>
                    <div class="role">Rust Core Team Member</div>
                </div>
            </div>

            {% include navbar.html %}
        </div>
    </div>

    {% include footer.html %}
</div>
